@font-face {
    font-family: LibraryFont;
    src: url(../fonts/Roboto.ttf);
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header-container .text {
    font-family: LibraryFont;
    margin-right: 10px;
}

.header-container {
    background-color: aqua;
    display: flex;
    width: 100vw;
    align-items: center;
}

.header-container #library-picture {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin: 0 5px 0 15px;
}

.header-container #search-icon,
.header-container #temp-sidebar {
    height: 20px;
    width: 20px;
    margin: 0 15px 0 5px;
}

.header-container #search-icon:hover,
.header-container #temp-sidebar:hover {
    cursor: pointer;
    filter: invert(74%) sepia(56%) saturate(3238%) hue-rotate(181deg) brightness(92%) contrast(93%);
}

#search-bar {
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    max-width: 350px;
    margin-left: auto;
}

.library-container {
    background-color: blueviolet;
    display: flex;
    width: 100%;
}

.filter-container {
    background-color: yellowgreen;
    width: 200px;
    transition: 200px 0.3s ease;
}

.filter-container.collapsed {
    width: 0;
    overflow: hidden;
}

.library-view-container {
    background-color: violet;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.catalogue-container {
    background-color: crimson;
}

.buttons-container {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
